# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\enforce_cam\ec_main_app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
